@page
@model KelleSolutions.Pages.MyPage.MyPageModel
@{
    ViewData["Title"] = "My Page";
}
<link href="https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap" rel="stylesheet">


<style>
    .card {
        background:#4a154b;
        width: 50%;
        margin: auto;
        text-align: center;
        border-radius: none;
    }
    p {
        color:white !important;
        line-height: 1.2; 
        margin-bottom: 5px;
        font-family: 'Sora', sans-serif;
    }
</style>

<!-- Add the Google Fonts link -->
<link href="https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<div class="card">
    <p>
        Randall
    </strong>
    <p>
        agent
    </p>
    <p>
        license
    </p>

</div>